body {
	background-color: #1c1c1c;
	color: blanchedalmond;
	font-family: "Verdana", sans-serif;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	position: relative;
}

ul {
	display: flex;
	gap: 16px;
	flex-wrap: wrap;
	justify-content: center;
	
	list-style-type: none;
	margin: 0;
	padding: 0;
	
}

li a {
	display: block;
	text-align: center;
	text-decoration: none;

	background: blanchedalmond;
	padding: 8px;
	border-radius: 8px;
	color: #1c1c1c;
}

li a:hover {
	transition-duration: 100ms;

	box-shadow: inset 0 0 0 .2em blanchedalmond;
	background-color: #1c1c1c;
	color: blanchedalmond;

	border-radius: 16px;
}

li a:active {
	border-radius: 24px;
}

h5 {
	position: absolute;
	text-align: center;
	bottom: 8px;
}

h3 {
	position: absolute;
	text-align: center;
	bottom: 25vh;
}

@media (max-width: 768px) {
	ul {
		width: 50%;
	}
	
	li a {
		padding: 12px;
	}
}